* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Baskerville Old Face";
  color: #e2e2e2;
  background: rgb(250, 250, 248);
  background: linear-gradient(
    180deg,
    rgba(250, 250, 248, 1) 0%,
    rgba(1, 1, 0, 1) 0%,
    rgba(29, 9, 0, 1) 54%,
    rgba(83, 25, 0, 1) 100%
  );
  font-size: 24px;
  text-justify: inter-word;
  text-align: justify;
}

/* Adding background color to the menu bar */
.menu {
  background-color: #391100d7;
  overflow: hidden;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 40px;
}
/*menu hover effect CSS*/
.menu:hover {
  box-shadow: 2px 2px 5px #4f1800d7;
  transition: 500ms; /*transition for smooth effects*/
}

/* Style the links inside the menu bar */
.menu a {
  color: white;
  text-align: center;
  padding: 25px 25px 25px 25px;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 3px 3px 5px black;
}
/* Change the color of links on hover */
.menu a:hover {
  background-color: #501800;
  color: grey;
  text-shadow: 2px 2px 5px #919191;
  transition: 500ms;
}
/*styling for the footer*/
.footer {
  background-color: #130600;
  overflow: hidden;
  text-align: center;
  padding: 15px 15px 15px 15px;
}
/*Footer links styling*/
.footer a {
  margin-top: 500px;
  color: white;
  text-align: center;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  font-size: 24px;
}
/*Footer hover effect CSS*/
.footer a:hover {
  background-color: #331000;
  color: grey;
  transition: 500ms;
}
/*Link hover effect CSS*/
a:hover {
  text-shadow: 2px 2px 4px #631f00;
  transition: 500ms; /*transition time for smoother shadow*/
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4d1c00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
