/*Styling of the headings*/
h1 {
  font-size: 6;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
}
/*Styling of the Paragraph*/
p {
  line-height: 1.3;
}
/*class styling*/
.author {
  font-size: 1.1rem;
  text-align: center;
  font-style: italic;
}
/* asterix used for overall styling */
* {
  background-color: aliceblue;
  font: Georgia, serif;
}
